.dash-date {
  color: #5f5f5f;
  margin-left: 20px;
  opacity: inherit;
  font-size: 0.8rem;
}

.card-title {
  /* margin-top: 20px;
    margin-left: 10px; */
  position: absolute;
  left: 70px;
  top: 10px;
}

.bg-th {
  background-color: #f8f8f8;
  color: #1c1c1c;
  border: none;
}

.bg-th th {
  border: none;
}

#dataTable {
  border: white;
  font-size: 14px;
  font: normal normal medium 16px/19px Proxima Nova;
}

.status__ {
  font-size: 12px;
}

.loginblock {
  height: "100vh";
  display: "flex";
  justify-content: center;
  align-items: center;
}

.loginblock .logo {
  width: 45%;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-content {
  width: 50%;
}

.login-form-content .title {
  color: #212121;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.login-form-content p {
  color: #7d7d7d;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.login-form-content.otp-form p {
  margin-bottom: 0rem;
}

.btn.btn-pencil {
  color: #0098ff;
  font-size: 1.2rem;
}

.btn.btn-pencil .fa {
  padding: 0px 5px;
}

.disable-otp {
  color: #d1d3e2;
  padding: 0px 5px;
  cursor: none;
}

.enable-otp {
  color: #0098ff;
  cursor: pointer;
  padding: 0px 5px;
  font-weight: 600;
}

.sidebar-light .nav-item .nav-link i.fa {
  padding-right: 0.3rem;
  font-size: 1rem;
}

.sidebar-light .nav-item.active .nav-link,
.sidebar-light .nav-item .nav-link:hover,
.sidebar-light .nav-item .nav-link:active {
  background: #f0f9ff;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar-light .nav-item.active .nav-link span,
.sidebar-light .nav-item .nav-link:hover span,
.sidebar-light .nav-item .nav-link:active span {
  opacity: 1;
  color: #0098ff;
  font-weight: 600;
}

.sidebar-light .nav-item.active .nav-link i.fa,
.sidebar-light .nav-item .nav-link:hover i.fa,
.sidebar-light .nav-item .nav-link:active i.fa {
  color: #0098ff;
}

.page-title {
  color: #071b2a;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 600;
}

.total-numbers {
  color: #1d9bff;
  opacity: 1;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
}

.total-label {
  color: #808591;
  font-size: 1rem;
}

.tabs-header {
  padding: 0px 10px;
  margin-bottom: 0px;
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}

.tabs-header .list-group-item {
  border: 0px;
  margin-right: 20px;
  cursor: pointer;
}

.tabs-header .list-group-item.react-tabs__tab--selected {
  color: #0098ff;
  border-bottom: 3px solid #0098ff;
  font-weight: 600;
}

.tabs-header .list-group-item:focus-visible {
  outline: none;
}

.custom-tab-panel .card.shadow {
  box-shadow: none !important;
  border: 0px;
}

.custom-tab-panel .card-body {
  padding: 1.25rem 0px;
}

.btn.btn-edit {
  border-radius: 17px;
  padding: 0.55rem 0.95rem;
  line-height: 1;
}

.table > :not(:first-child) {
  border-top: 0px solid currentColor;
}

.table tbody td {
  font-size: 14px;
  color: #464e5f;
  border: none;
}

.input-group input.form-control {
  border-left: 0px;
  min-height: 50px;
  padding: 0.5rem;
}

.btn.btn-dates {
  font-size: 1rem;
  color: #1c1c1c;
  border-radius: 0px;
}

.btn.btn-dates .tab-count {
  color: #5f5f5f;
  font-size: 0.8rem;
}

.btn.btn-dates:focus,
.btn.btn-dates.focus,
.btn.btn-dates:hover {
  box-shadow: none;
  color: #0098ff;
  border-bottom: 3px solid #0098ff;
}

.btn.btn-dates:hover .tab-count,
.btn.btn-dates:focus .tab-count {
  color: #0098ff;
}
.btn.btn-dates:hover .tab-count {
  color: #0098ff;
}

.date-block {
  margin-bottom: 1.2rem;
}

.input-group-floting.input-group .input-group-text {
  width: 12%;
}

.input-group-floting.input-group .form-floating {
  width: 88%;
}

.input-group-floting.input-group .form-floating .form-control {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.input-group-floting.input-group .form-floating > label {
  padding: 1rem 0.5rem;
}

.custom-selectbox {
  border-left: 0px;
  height: 58px;
  padding: 10px;
}

.custom-multiselectbox {
  width: 88%;
  height: 58px;
}


.custom-multiselectbox .dropdown-container {
  border-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.custom-multiselectbox .dropdown-heading {
  height: 56px !important;
}

span.clock-icon {
  padding: 5px 5px;
  font-size: 14px;
  line-height: 1;
  color: #7d7d7d;
}

.dashboard-counter-cards .card {
  min-height: 115px;
}

@media(max-width:768px) {
  .bg-login-image {
    height: 30vh;
  }

  .login-form {
    padding: 3rem 0px;
  }

  .login-form-content {
    width: 75%;
  }

  .sidebar {
    padding: 0 0rem;
  }

  .card-body {
    padding: 0.5rem;
  }
}

.patient {
  cursor: pointer;
}

.schedule-drawer {
  width: 400px !important;
}

.dwer-container {
  height: 100%;
}
